{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Панель Администратора</title>
    <link rel="stylesheet" href="{% static 'admin_panel/css/style.css' %}">
</head>
<body>
    <h1>Добро пожаловать в админ-панель TripNest!</h1>
    <p>Вы можете управлять всеми аспектами сайта прямо здесь.</p>

    <ul>
        <li><a href="{% url 'admin_panel:user_list' %}">Пользователи</a></li>
        {# Если есть бронирования в admin_panel, добавьте соответствующий URL #}
        {# <li><a href="{% url 'admin_panel:booking_list' %}">Бронирования</a></li> #}
        <li><a href="{% url 'admin_panel:flight_list' %}">Рейсы (авиарейсы)</a></li>

        <li><a href="{% url 'admin_panel:admin_hotel_list' %}">Отели</a></li>
        <li><a href="{% url 'admin_panel:admin_room_list' %}">Номера</a></li>
        <li><a href="{% url 'admin_panel:admin_country_list' %}">Страны</a></li>
        <li><a href="{% url 'admin_panel:admin_city_list' %}">Города</a></li>
        <li><a href="{% url 'admin_panel:excursion_list' %}">Экскурсии</a></li>
    </ul>

    <hr>
    <p>Переходы на главную:</p>
    <ul>
        <li><a href="{% url 'trip:home_user' %}">Главная страница (зарегистрированный пользователь)</a></li>
        <li><a href="{% url 'trip:home' %}">Главная страница (гость)</a></li>
    </ul>
</body>
</html>
