{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
</head>
<body>

<h1>{{ title }}</h1>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <table>
    {% for field in form %}
      <tr>
        <th>{{ field.label_tag }}</th>
        <td>
          {{ field.errors }}
          {{ field }}
          {% if field.help_text %}
            <br><small>{{ field.help_text }}</small>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>

  <button type="submit">Сохранить</button>
  <a href="{% url 'admin_panel:admin_excursion_list' %}">Отмена</a>
</form>

</body>
</html>
