{% load static %}

<h2>Список отелей</h2>
  <link rel="stylesheet" href="{% static 'admin_panel/css/style.css' %}">

<a href="{% url 'admin_panel:dashboard' %}">← Назад к панели администратора</a>
<br><br>
<a href="{% url 'admin_panel:admin_hotel_create' %}">Добавить отель</a>
<ul>
  {% for hotel in hotels %}
    <li>
      {{ hotel.name }} ({{ hotel.city.name }}) — <a href="{% url 'admin_panel:admin_hotel_edit' hotel.id %}">Изменить</a> |
      <a href="{% url 'admin_panel:admin_hotel_delete' hotel.id %}" onclick="return confirm('Удалить отель?');">Удалить</a>
    </li>
  {% empty %}
    <li>Нет отелей.</li>
  {% endfor %}
</ul>
