<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Письмо отправлено</title>
    <link rel="stylesheet" href="{% static 'user_profile/css/reset.css' %}">
</head>
<body>
    <div class="form-container">
        <div class="logo-container">
            <img src="{% static '/img/logo.png' %}" alt="TripNest Logo" style="height: 50px;">
        </div>
        <h2>Письмо отправлено</h2>
        <p>Если указанный email зарегистрирован — на него отправлено письмо со ссылкой для сброса пароля.</p>
        <a href="/">На главную</a>
    </div>
</body>
</html>
