<!-- user_profile/templates/user_profile/password_reset_confirm.html -->
<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Сброс пароля</title>
  <link rel="stylesheet" href="{% static 'user_profile/css/reset.css' %}">
</head>
<body>
  <div class="container">
      <div class="logo-container">
        <img src="{% static '/img/logo.png' %}" alt="TripNest Logo" style="height: 50px;">
      </div>
    <h2>Сброс пароля</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Сменить пароль</button>
    </form>
  </div>
</body>
</html>
