{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Восстановление пароля — TripNest</title>
    <link rel="stylesheet" href="{% static 'user_profile/css/reset.css' %}">
</head>
<body>
    <div class="form-container">
        <div class="logo-container">
            <img src="{% static '/img/logo.png' %}" alt="TripNest Logo" style="height: 50px;">
        </div>
        <h2>Восстановление пароля</h2>
        <p>Введите ваш email, и мы отправим вам ссылку для сброса пароля.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Отправить ссылку</button>
        </form>
    </div>
</body>
</html>
