{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Экскурсии — TripNest</title>
  <link rel="stylesheet" href="{% static 'excursion/css/excursion_list.css' %}">
</head>
<body class="dark-theme">

<!-- Header -->
<header class="header">
  <div class="container">
    <div class="logo">
      <a href="/">
        <img src="{% static 'img/logo.png' %}" alt="TripNest Logo" height="40">
      </a>
    </div>
    <nav class="nav">
        <a href="/">Главная</a>
        <a href="/hotels/">Жильё</a>
        <a href="#">Рестораны</a>
        <a href="{% url 'transport:transport_list' %}">Транспорт</a>
        <a href="#">Заказ еды</a>
    </nav>
    <div class="auth-buttons">
      <a href="{% url 'user_profile:profile' %}">Профиль</a>
      <a href="/logout/">Выйти</a>
    </div>
  </div>
</header>

<main class="excursion-main">

  <h1>Экскурсии</h1>

  <ul>
    {% for excursion in excursions %}
      <li>
        {% if excursion.image %}
          <img src="{{ excursion.image.url }}" alt="{{ excursion.name }}">
        {% endif %}
        <div class="info">
          <h2>{{ excursion.name }}</h2>
          <p><strong>Город:</strong> {{ excursion.city }}</p>
          <p><strong>Длительность:</strong> {{ excursion.duration_hours }} ч</p>
          <p><strong>Цена:</strong> {{ excursion.price_per_person }} ₽/чел</p>
          <a class="button" href="{% url 'excursion:excursion_detail' excursion.id %}">Подробнее</a>
        </div>
      </li>
    {% empty %}
      <li>Экскурсий не найдено.</li>
    {% endfor %}
  </ul>

</main>

<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="footer-logo">
      <img src="{% static '/img/logo.png' %}" alt="TripNest Logo" height="30">
      <p>
        TripNest — всё для вашего комфорта в одном месте: отели, доставка еды, экскурсии, транспорт.<br>
        Поддержка 24/7 • support@tripnest.com
      </p>
    </div>
    <div class="social">
      <p>Мы в социальных сетях:</p>
      <a href="#">VK</a>
      <a href="#">Skype</a>
      <a href="#">Telegram</a>
    </div>
  </div>


  <p class="copyright">© TripNest, 2025. Все права защищены</p>
</footer>

</body>
</html>
